# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
dist-ssr
build
*.local

# Environment variables
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Testing
coverage
*.lcov

# TypeScript
*.tsbuildinfo

# Vite
vite.config.ts.timestamp-*

# Debug
.debug

# Misc
*.pem
.vercel
.netlify

# ETC
.history